# Telegram 配置
TG_API_ID=38448006
TG_API_HASH=c82e8c62f3f38228bccbab38ea2c849c

BOT_TOKEN=7940851128:AAFVnU2JDPclNM767WdLyFOfi4UCkI_mVEM
USERBOT_PHONE=+8613800000000

# 数据库配置
DATABASE_URL=postgresql+asyncpg://postgres:Cque+1212@172.28.232.109:5432/tg_auto_msg
REDIS_URL=redis://:4WCOnnzl@172.28.232.109:6379/0

# 应用配置
LOG_LEVEL=INFO
TIMEZONE=Asia/Shanghai

# 调度配置
WORKER_INTERVAL=60
MAX_FAILURE_COUNT=5
