[Unit]
Description=Run tgmsg frontend watchdog every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=tgmsg-frontend-watchdog.service

[Install]
WantedBy=timers.target
